html, body{
	height: 100%;
	margin:0;
	font-size: 20px;
	font-family: "Times", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #665;
}
.left-align{
	text-align: left;
}
.rakuten-more li a{
	color: #fff;
	text-decoration:underline;
}
.collapsible-header{
	color: #fff;
}
.t-size{
	font-size: 30px;
	padding: 10px!important;
}
/*---------------------------parralax----------------*/
.pimg1,.pimg2,.pimg3,.pimg4{
	position: relative;
	opacity: 0.50;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.pimg1{
	background-image: url('../img/wall11.jpg');
	min-height: 100%;
}
.pimg2{
	background-image: url('../img/wall3.jpg');
	min-height: 500px;
}
.pimg3{
	background-image: url('../img/wall1.jpg');
	min-height: 500px;
}
.pimg4{
	background-image: url('../img/wall10.jpg');
	min-height: 100%;
}
.section{
	text-align: center;
	padding: 50px 80px;
}
.section-grey-light{
	background-color: #f4f4f4;
	color: #666666;
}
.section-dark{
	background-color: #282e34;
	color: #ddd;
}
.text-grey-light{
	color: #f4f4f4;
}
.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
.ptext .border{
	color: #fff;
	padding: 20px;
}
.ptext a{
	text-decoration: none;
}
@media only screen and (min-width: 769px){
	.displ-sm{
	display: none!important;
	}
}
@media only screen and (max-width: 769px){
	.displ-lg{
	display: none!important;
	}
	.pimg1,.pimg2,.pimg3{
		background-attachment: scroll;
		background-image: 100%;
	}
	.ptext{
		font-size: 10px;
		letter-spacing: 4px;
	}
}
.scrapper:hover{
	background-color: #e0f2f1!important;
	color: #616161!important;
	padding: 20px;
	border: 5px solid #4db6ac;
	border-radius: 10px;
}